<ion-header>
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <ion-list>

      <ion-item *ngFor="let user of users">
        <button ion-button [routerLink]="['/cliente']" class="btn">
        <ion-avatar slot="start">
          <img src="../../assets/img-pro/{{user.image}}" />
        </ion-avatar>
        <ion-label>
          <h2>{{user.name}}</h2>
          <h3>{{user.state}}</h3>
          <p>{{user.description}}</p>
          <ion-icon name="add-circle"></ion-icon>
        </ion-label>
      </button>
      </ion-item>
    </ion-list>>
</ion-content>
